<h1>Edit Post</h1>

<%= form_with(model: @post, local: true) do |form| %>
  <div>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :content %><br>
    <%= form.text_area :content %>
  </div>

  <div>
    <%= form.submit "Update Post" %>
  </div>
<% end %>

<a href="<%= posts_path %>">Back to All Posts</a>
